/* To reset the size of your page */
*{
    margin: 0; padding: 0; border: 0;

    /* Give the real size of your containt */
    box-sizing: border-box;
}

h1{
    font:bold;
    font-family: serif;
    text-align: Center;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* center the containt wth equal edges  */
body{
    width: 991px;
    margin: 0px auto;
    background-color: darkslategray;
} 

/* first 2 div h1 style */
.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    text-align: center;
    border: 1px solid grey;
    width: 100px;
    position: relative;
    left: 189px;
    bottom: 11px;
    background-color: burlywood;
}
/* Third box h2 style */
#header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    text-align: center;
    border: 1px solid grey;
    width: 100px;
    position: relative;
    left: 189px;
    bottom: 11px;
    background-color: burlywood;
}


/* 1st and 2nd box style */
.box{
    font-family:Tahoma,Impact, sans-serif;
    float: left;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: grey;
    border: 1px solid;
    
}
/* 3rd box style */
#box{
    font-family:Tahoma,Impact, sans-serif;
    float: left;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: grey;
    border: 1px solid;
    
}



/* Don't forget to also change the size of different style */
@media screen and (max-width: 767px){

    body{
    
        width: 50%;
    }

    .box{
        width: 300px;
    }

    #box{
        width: 300px;
    }

    .header{
        position: relative;
        left: 189px;
    }
    #header{
        position: relative;
        left: 189px;
    }
}

@media screen and (min-width: 768px) and (max-width: 990px){
    body{
    
        width: 85%;
    }

    .box{
        width: 300px;
    }

    #box{
        width: 620px;
    }

    .header{
        position: relative;
        left: 189px;
    }
    #header{
        position: relative;
        left: 509px;
    }
    


}

